@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    width: 100%;
    min-height: 100vh;
}

.navbar{
    box-sizing: border-box;
    background: url(https://t3.ftcdn.net/jpg/02/11/52/42/360_F_211524227_Ett8aboQvVnROAFtqu3S1pW99Y3Th9vm.jpg);
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 20px;
    position: sticky;
    padding: 30px 0px 20px 0px;
    box-shadow:0px 0px 10px 5px;

}

.navbar-left{
    margin-left: 20%;
    position: relative;
    flex:1;
}

.navbar-right{
    flex:2;
    box-sizing: border-box;
}

.logo{
    display: inline;
    width: 100px;
    height: 50px;
    margin-top: 2%;
}

.navbar-left h1{
    display: inline;
    padding: 0px 0px 0px 0px;
    margin-top:-2%;
    margin-left: 3%;
    position: absolute;
    top:40%;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    color: white;
}




input{
    display: inline;
    margin-left: 20%;
    width:400px;
    height:30px;
    border-radius: 20px;
    padding:0px 0px 0px 10px ;
    border:1.5px solid black;
    transition: 0.2s ease-in;
    box-shadow: 5px 3px 10px;
    margin-top: 2%;
}

input:hover{
    box-shadow: 10px 3px 10px 2px;
}

.icon{
    margin-left: 2%;
    background-color: white;
    color: #bfbfbf;
    padding: 7px 7px 7px 7px;
    border-radius:50% ;
    border: 2px solid black;
    box-shadow: 2px 0px 7px black;
    position: absolute;
    top:40%;
    cursor: pointer;
}

.container{
    margin: 40px;
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 30px;
    color: white;
    background: linear-gradient(60deg,rgb(176, 122, 224),rgb(150, 91, 177),rgba(166, 48, 187, 0.995));
    border: 5px solid rgb(0, 0, 0);
}


.background-clip{
    position: absolute;
}

.location h5{
    display: flex;
    justify-content: center;
}

.weather-icon{
    width: 100px;
    height: 100px;
    margin-left: 40%;
}

.family{
    justify-content: center;
    align-items: center;
    display: grid;
}


.temperature{
    margin-left: 40%;
    margin-top: -2%;
}

.feels_like,.humidity,.preciptation,.wind{
    font-size: 15px;
}

.feels_like p,.humidity p,.preciptation p,.wind p{
    margin-top: 3%;
    font-size: 15px;
    margin-left: 20%;
}

.footer{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
}


.hourly{
    font-size: 18px;
    overflow-x: scroll;
    max-width: 1300px;
    flex-direction: row ;
    display: flex;
    margin-top: 50px;
}



.hourly::-webkit-scrollbar{
    width: 0px;
}

.item-1,.item-2,.item-3,.item-11,.item-12{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap:10px;
    padding:0px 0px 0px 0px;
    border-radius: 20px;
    min-width: 170px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.item-1{
    margin-left: 20px;
    margin-bottom: 10px;
}


.item-4,.item-5,.item-6,.item-7,.item-8,.item-10{
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 170px;
    justify-content: center;
    grid-gap:10px;
    padding:0px 0px 0px 0px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.item-9{
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 170px;
    justify-content: center;
    grid-gap:10px;
    padding:0px 0px 00px 0px;
    border-radius: 20px;
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 10px;
}


.weekly{
    grid-area: c;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 1300px;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.weekly::-webkit-scrollbar{
    width: 0px;
    height:0%;
}

.index-1{
    background: #000;    
    background-size: cover;
    font-size: 18px;
    border-radius: 20px;
    min-width: 150px;
    margin-left:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-2,.index-3,.index-4{
    background: #000;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    border-radius: 20px;
    min-width: 150px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-5,.index-6{
    background: #000;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    border-radius: 20px;
    min-width: 150px;
    margin-left: 120px;
     display: flex;
    flex-direction: column;
    justify-content: center;
}
.error{
    position: fixed;
    background-color: rgb(246, 246, 207);
    top:90%;
    left:38%;
    font-size: 11px;
    letter-spacing: 1.5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
}

.error button{
    background-color: transparent;
    height:30px;
    width: 30px;
    transition: 0.3s ease-in;
    border:none;
    border-radius: 50%;
}

.error button:hover{
    background: #b3b3b3;
    padding: 0px 6px 0px 6px;
}

